#auth {
    background-color: #E2BFBF;
    padding: 2rem;

}

.auth2{
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    width:60%;
    margin:auto;
    display: flex;
    justify-content: space-around;
    gap:1rem;

}

.auth2 div:nth-child(1){
    width: 50%;
    padding: 0 2rem;
    justify-content: center;
    text-align: center;
}

.auth2 div:nth-child(2){
    width: 50%;
    justify-content: center;
    padding: 0 2rem;
    align-items: center;
}

#auth h3 {
    font-family: "acumin-pro", sans-serif;
    font-size: 32px;
    font-weight: 400;
}

#auth p{
    font-family: "acumin-pro", sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.auth2 form{
    width: 100%;
    background-color: white;
    font-family: "acumin-pro", sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.auth2 input {
    width:20rem ;

    border: 1px solid #E2BFBF;
    background-color: unset ;
    font-size: 20px;
    font-family: "acumin-pro", sans-serif;
    font-weight: 200;
}

.auth2 #case {
    width : auto;
    margin-left: 2rem;
}

.auth2 #bouton{
    background-color: #E2BFBF;
    color:black;
    height: 3rem;
    font-size: 25px;
    border-radius: 3rem;
    padding: unset;
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
}
