footer {
    background-color: #E2BFBF;
    width:100%;
    display:flex;
    justify-content: space-around;
    gap : 1rem;
    padding : 5rem 0rem;
  
    
}


footer h3{
    font-family: "acumin-pro", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom : 2rem;

}

footer div:nth-child(1) {
    width:20%;
    justify-content: center;
}

footer div:nth-child(2) {
    width:60%;
    justify-content: center;
    text-align: left;
    margin-right: 4rem;
}

footer div:nth-child(2) h3{
    justify-content: center;
    text-align: center;
}

footer ul {
    padding-left:1rem
}

footer li {
    font-family: "acumin-pro", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    list-style-type:none;
}


footer form {
    width: 100%;
    background-color: white;
    border-radius: 3rem;
    display: flex;
    height: 6.125rem;
    align-items: center;

}

footer input {
    width:90%;
    padding-left : 3rem;
    border: none;
    background-color: unset;
    font-size: 32px;
    font-family: "acumin-pro", sans-serif;
    font-weight: 200;
}

footer button{
    width: 15.25rem;
    height: 5.125rem;
    font-size: 32px;
    border-radius: 3rem;
    margin-right: 0.5rem;
    background-color: #E2BFBF;
    border : none;
    font-family: "acumin-pro", sans-serif;
    font-weight: 200;
}

@media (max-width: 720px) {

    footer {
        background-color: #E2BFBF;
        width:100%;
        display:block;
        justify-content: space-around;
        gap : 1rem;
        padding : 5rem 0rem;
    }

    footer div:nth-child(1){
        width:80%;
        margin:auto;
        margin-bottom: 4rem;
        text-align: center;
    }

    footer div:nth-child(1) h3{
        margin-bottom: 1rem;
    }

    footer div:nth-child(2){
        width:80%;
        margin:auto;
    }

    footer li{
        padding-left:unset;
    }

    footer input {
        font-size: 20px;
        white-space: normal;
    }

    footer button{
        font-size: 20px;
    }


}
